.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  align-items: center;
}
body {
  font-family: sans-serif;
  margin: 0;
}
img {
  width: 100%;
}
.btn-hover:hover {
  background: #000;
  color: white;
  transition: 0.5s;
}
.btn {
  border-radius: 25px;
  padding: 12px 24px;
  background: none;
  font-weight: 400;
  cursor: pointer;
}
.btn__green {
  background: rgba(44, 162, 73, 1);
  color: white;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
.btn__green:hover {
  transform: scale(1.1);
}

.first__info {
  display: flex;
  gap: 80px;
  margin-top: 120px;
}
.first__text {
  max-width: 620px;
}
.first__text h1 {
  font-size: 56px;
}
.first__text p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}
.btn-info {
  display: flex;
  gap: 15px;
}

.second__info {
  margin-top: 224px;
}
.support__text {
  max-width: 740px;
}
.support {
  display: flex;
  margin-top: 224px;
}
.support__span {
  font-weight: 600;
}
.support__text h1 {
  margin-top: 16px;
  font-size: 48px;
}
.support__text p {
  font-size: 18px;
  font-weight: 600;
}
.support__cart {
  max-width: 400px;
}
.support__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 80px;
}
.btn-suppport {
  /* display: flex; */
  margin-top: 80px;
  gap: 10px;
}
.footer {
  background-color: #fcfafa;
  margin-top: 60px;
}
.footer a {
  color: rgb(0, 0, 0);
}
.footer a:hover {
  color: rgb(133, 138, 138);
}
.footer p {
  color: rgb(0, 0, 0);
}
.footer img {
  max-width: 30px;
}
.up__footer {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
  align-items: center;
}
.anchor__links {
  max-width: 400px;
}
.cooke {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #000;
  margin-top: 20px;
}
