@media screen and (max-width: 1400px) {
  .first__text h1 {
    font-size: 44px;
  }
  .first__text p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .first__text h1 {
    font-size: 36px;
  }
  .wrapper {
    padding: 0 40px;
  }
  .support__block {
    grid-template-columns: 1fr 1fr;
  }
  .service {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 960px) {
  .hamburger {
    display: block;
    z-index: 1;
  }
  .navbar {
    justify-content: space-between;
  }
  .support__block {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .nav {
    position: fixed;
    width: 300px;
    background-color: #f9f9f9;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    gap: 50px;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: 0.5s;
  }
  .nav-active {
    transform: translateX(0);
  }

  .first__info {
    flex-direction: column;
  }
  .first__text h1 {
    text-align: center;
    font-size: 42px;
  }

  .first__text p {
    text-align: center;
  }
  .btn-info {
    justify-content: center;
  }
}

@media screen and (max-width: 720px) {
  .navbar {
    padding: 0;
  }
  .cart__2 {
    flex-direction: column;
  }
  .service__cart {
    flex-direction: column;
    align-items: center;
  }
  .cart__text {
    padding-bottom: 20px;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 520px) {
  .nav {
    width: 250px;
  }

  .wrapper {
    padding: 0;
  }
  .first__text h1 {
    text-align: start;
    font-size: 36px;
    line-height: 48px;
  }
  .first__text p {
    text-align: start;
  }
  .btn-info {
    justify-content: start;
  }
  .second__info {
    margin-top: 64px;
  }
  .support__text p {
    line-height: 28px;
  }
  .title-text {
    text-align: center;
  }

  .sign-up-for-a-consultation {
    max-width: 334px;
    height: 195px;
  }
  .sign-up-title {
    font-size: 20px;
  }
  .sign-up-subtext {
    max-width: 335px;
  }
}

@media (max-width: 1024px) {
  .consultation {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .consultation__content,
  .consultation__image {
    max-width: 100%;
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .contacts__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .contacts__grid {
    grid-template-columns: 1fr;
  }
}
